@model List<Reviews>

@{
    ViewData["title"] = "Admin-Review";
}


<h2>Reviews</h2>
<table class="admin-review">
    <thead>
        <tr>
            <th>Review Description</th>
            <th>Ratings</th>
            <th>Customer</th>
            <th>Chef</th>
            <th>
                Recipe
            </th>
            <th>Review Date</th>
            <th>Review Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var review in Model)
        {
            <tr>
                <td>
                    @review.ReviewDescription
                </td>
                <td>
                    @review.Ratings
                </td>
                <td>
                    @review.Customer.Name
                </td>
                <td>
                    @review.ChefRecipe.Chef.Name
                </td>
                <td>
                    @review.ChefRecipe.RecipeName
                </td>
                <td>
                    @review.ReviewDate?.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @review.Status
                </td>
                <td>
                    <a class="btn-approve " asp-controller="Admin" asp-action="ApproveReview" asp-route-id="@review.ReviewsId">Approve</a>
                    <a class="btn-reject " asp-controller="Admin" asp-action="DeleteReview" asp-route-id="@review.ReviewsId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<button class="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
</button>
<div class="chatbot">
    <header>
        <h2>Review Moderation Bot</h2>
        <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
        <li class="chat incoming">
            <span class="material-symbols-outlined">smart_toy</span>
            <p>Hi there 👋<br>Welcome to Review Moderation Help.</p>
        </li>
    </ul>
    <div class="chat-input">
        <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
</div>