@model CustomerViewModel
@{
    ViewData["title"] = "Customer-Home";
    int itemPerSlide = 3;
    int totalItems = Model.AllRecipes.Count();
    int otherItems = Model.FiveStarRecipeList.Count();
    int slideCount = (int)Math.Ceiling(totalItems / (double)itemPerSlide);
    int slideCount2 = (int)Math.Ceiling(otherItems / (double)itemPerSlide);

}

@if (TempData.Keys.Contains("ConfirmEmailMessage"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span>@TempData["ConfirmEmailMessage"]<a asp-controller="Home" asp-action="ResendVerificationMail" asp-route-username="@Model.ActiveUser.UserName"> Resend Verification.</a></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData.Keys.Contains("EmailReSentMessage"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span>@TempData["EmailReSentMessage"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    @if (Model.AllRecipes.Count == 0)
    {
        <h1>No Receipes Available</h1>
    }
    else
    {
        <div class="row">
            <h1>Top Rated Recipes:</h1>
            <div id="recipeCarousel-other" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @for (int slideIndex = 0; slideIndex < slideCount2; slideIndex++)
                    {
                        <div class="carousel-item @(slideIndex == 0 ? "active" : "")">
                            <div class="row">
                                @foreach (var recipe in Model.FiveStarRecipeList.Skip(slideIndex * itemPerSlide).Take(itemPerSlide))
                                {

                                    <div class="col-md-4">
                                        <!-- Card -->
                                        <div class="card-home">
                                            <!-- Card image -->
                                            <img style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(recipe.RecipeImage))" class="card-img-top" alt="@recipe.RecipeName">
                                            <!-- Card body -->
                                            <div class="card-body">
                                                <h5 class="card-title">Name: @recipe.RecipeName</h5>
                                                <p class="card-text">Chef: @recipe.Chef.Name </p>
                                                <p class="card-text">Cuisine Type: @recipe.RecipeCuisine.CuisineName</p>
                                                <p class="card-text">Description: @recipe.RecipeDescription</p>
                                                <p class="card-text">Price: $@recipe.Price</p>
                                                <p class="card-text">
                                                    Number of Included Persons: @recipe.NumberOfPeople
                                                </p>
                                                <p class="card-text">
                                                    Price per extra Person: $@recipe.PricePerExtraPerson
                                                </p>
                                                <p>
                                                    Rating: @recipe.Reviews.Average(x => x.Ratings)
                                                </p>


                                                <a asp-controller="Customer" asp-action="AddRecipeToCart" asp-route-id="@recipe.ChefRecipesId" asp-route-username="@Model.ActiveUser.UserName" class="btn button-cart add-to-cart btn-primary">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#recipeCarousel-other" role="button" data-bs-slide="prev">
                    <span aria-hidden="true">&#10094;</span> <!-- Using Unicode arrow character -->

                </a>
                <a class="carousel-control-next" href="#recipeCarousel-other" role="button" data-bs-slide="next">
                    <span aria-hidden="true">&#10095;</span> <!-- Using Unicode arrow character -->

                </a>
            </div>

        </div>
    }






    <h1 style="text-align:left">Recipes to select from:</h1>

    <div id="recipeCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @for (int slideIndex = 0; slideIndex < slideCount; slideIndex++)
            {
                <div class="carousel-item @(slideIndex == 0 ? "active" : "")">
                    <div class="row">
                        @foreach (var recipe in Model.AllRecipes.Skip(slideIndex * itemPerSlide).Take(itemPerSlide))
                        {
                            <div class="col-md-4">
                                <!-- Card -->
                                <div class="card-home">
                                    <!-- Card image -->
                                    <img style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(recipe.RecipeImage))" class="card-img-top" alt="@recipe.RecipeName">
                                    <!-- Card body -->
                                    <div class="card-body">
                                        <h5 class="card-title">Name: @recipe.RecipeName</h5>
                                        <p class="card-text">Chef: @recipe.Chef.Name </p>
                                        <p class="card-text">Cuisine Type: @recipe.RecipeCuisine.CuisineName</p>
                                        <p class="card-text">Description: @recipe.RecipeDescription</p>
                                        <p class="card-text">Price: $@recipe.Price</p>
                                        <p class="card-text">
                                            Number of Included Persons: @recipe.NumberOfPeople
                                        </p>
                                        <p class="card-text">
                                            Price per extra Person: $@recipe.PricePerExtraPerson
                                        </p>
                                        @if (recipe.Reviews.Count == 0)
                                        {
                                            <p>
                                                Ratings: 0
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                Ratings: @recipe.Reviews.Average(x => x.Ratings)
                                            </p>
                                        }


                                        @*    <a asp-controller="Customer" asp-action="GetBookingPage" asp-route-id="@recipe.ChefRecipesId" asp-route-username="@Model.ActiveUser.UserName" class="btn button-cart book btn-primary">Book</a> *@
                                        <a asp-controller="Customer" asp-action="AddRecipeToCart" asp-route-id="@recipe.ChefRecipesId" asp-route-username="@Model.ActiveUser.UserName" class="btn button-cart add-to-cart btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span aria-hidden="true">&#10094;</span> <!-- Using Unicode arrow character -->

        </a>
        <a class="carousel-control-next" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span aria-hidden="true">&#10095;</span> <!-- Using Unicode arrow character -->

        </a>
    </div>
</div>
